.square1{
    border: solid 2px black;
    text-align: center;
    padding: 40px 40px;
    background: white;
}

.point{
    cursor: pointer;
}

.match{
    background: green;
    border: solid 2px black;
    text-align: center;
    padding: 40px 40px;
}

#show {
    color: black
}

#hide {
    color: lightgray
}