.square1{
    border: solid 1px black;
    text-align: center;
    padding: 40px 40px;
    background: red;
    color:white;
}

.cursorpoint{
    cursor: pointer;
}

.match{
    background: green;
    color:white;
    border: solid 1px black;
    text-align: center;
    padding: 40px 40px;
}

#show {
    opacity: 1;
}

#hide {
    opacity: 0;
    transition: opacity 0.15s linear;
}