.css-grid-container1 {
    border: 2px black;
    border-style: solid;
    background: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.game{
    margin-top: 20px;  
}

.card-body{
    text-align: center;
}