.css-grid-container1 {
    border: 2px black;
    border-style: solid;
    background: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.alignp{
    text-align: center;
}

.game{
    border-top-style: solid;
    border-top-width: 6px;
    border-top-color: blue; 
}

.image1{
    margin: auto;
    width: 100%;
    padding: 10px 10px;
}

.bigbutton{
    padding: 10px 45px;
}

.smallbutton{
    padding: 10px 30px;
}

.card-title, .card-text{
    text-align: center;
}